@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&family=Pacifico&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: Outfit;
}

/*COMMON_COMPONENTS_STYLING*/
button {
  color: white;
  border-style: none;
  border-radius: 8px;
}

.headings,
#DPSide,
.followButtonsSection,
#goodBye {
  text-align: center;
}

#About-MeAndTallentSection {
  padding: 12px;
}

.headingIcons {
  height: 56px;
}

#tallentIconsSection,
#projectsIconsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 12px 64px 12px 64px;
}

/*COMMON_COMPONENTS_STYLING*/

/*NavigationSectionStartsHere*/
#NavSection {
  padding: 12px;
}

#mainLogo,
.miniIcons {
  align-items: center;
  height: 64px;
  width: 64px;
}

#NavSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navAnc {
  color: black;
  text-decoration: none;
  font-weight: 700;
  margin: 16px;
}

#specialButton {

  transition: 0.5s;
  font-weight: 700;
  background-image: linear-gradient(to bottom right, red, black);
  padding: 8px 12px;
}

.sendButton:hover,#specialButton:hover {
  background-image: linear-gradient(to top left, red, black);
  border-radius: 18px;
  cursor: pointer;
  transition: 0.75s;
}

/*NavigationSectionEndsHere*/

/*IntroductioinSectionStartsHere*/
.introSection {
  padding: 18px;
  display: flex;
  justify-content: space-evenly;
  place-items: center;
}

#country {
  font-size: 64px;
  background: -webkit-linear-gradient(orange, white, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cv {
  font-weight: 500;
  padding: 8px;
  background-color: #927977;
  transition: 0.5s;
}

#cv:hover {
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  transition: 0.5s;
}

/*IntroductionSectionEndsHere*/

/*About-Me&TallentSectionStartsHere*/
#About-MeHeading,
.aboutContent {
  font-size: 24px;
  font-weight: 700;
  background-color: #00D084;
  /* margin: 0px; */
  padding: 25px;
}

#About-MeHeading, .contactHeading {
  font-size: 36px;
  border-radius: 50px 50px 0px 0px;
  color: white;
}

/*TallentSectionStartsHere*/
.tallentIcons {
  height: 200px;
  width: 200px;
}

#waveBottom {
  border-radius: 0px 0px 50px 50px;
}

/*TallentSectionEndsHere*/
/*About-Me&TallentSectionEndsHere*/

/*ProjectsSectionStartsHere*/
.projectsIcons {
  height: 100px;
}

.comments {
  color: #927977;
  font-size: 8px;
  text-align: end;
}

/*ProjectsSectionEndsHere*/

/*FooterSectionEndsHere*/
#FooterSection {
  border-radius: 25px 25px 0px 0px;
  background-color: #EB144C;
  color: white;
}

.fa-brands,.fa-solid {
  font-size: 48px;
}

.followButtons, .contactButtons {
  margin: 16px;
  padding: 12px;
  border-radius: 12px;
  background: #EB144C;
  background: #EB144C;
  box-shadow: -9px -9px 18px #5E080E, 9px 9px 18px #FF208A;
  font-size: 0px;
}
.followButtons{
  transition: 0.5s;
}

.contactButtons:hover,
.followButtons:hover {
  cursor: pointer;
  font-size: 12px;
  transition: 0.5s;
}

#goodBye {
  font-family: Pacifico;
  font-size: 8px;
}

/*FooterSectionEndsHere*/

/*ContactPageStartsHere*/
#contactPopup,.form-container{
  margin: 18px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:24px;
  border-radius: 24px;
  width:60vw;
  /* height:275px; */
  background: linear-gradient(#ef887a,#ffd6e1);
  visibility: hidden;
}


.input-fields{
  width:200px;
  margin:10px;
  padding:10px;
  border-style: none;
  border-radius: 20px;    
}
.sendButton{
  background-image: linear-gradient(to bottom right, red, black);
  padding:18px;
  margin:18px;
  border-style: none;
  border-radius: 12px;
  color: white;
  font-weight: bold;
}
.close-popup{
  background-color: transparent;
  top:2%;
  right:2%;
  font-size: 24px;
  position: absolute;
}
.close-popup:hover{
  cursor: pointer;
}
/*ContactPageEndsHere*/


/*MEDIA_QUERIES*/
@media (max-width: 640px) {
  .navAnc {
    display: none;
  }

  .introSection {
    flex-direction: column-reverse;
  }
  .form-container{
    flex-direction: column;
  }
}

@media (max-width: 640px) {

  #tallentIconsSection,
  #projectsIconsSection {
    flex-direction: column;
    align-items: center;
  }
}

/*MEDIA_QUERIES*/
